@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso Denegado";
}

<header>
    <div class="container"
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">No posee los accesos necesarios para acceder a la página</p>
</div>
</header>
